body{
    background-color: #BFD8D2;
    width: 99%;
}

a{
    color: white;
    text-decoration: none;
}

*{
    margin: 0px;
    padding: 10px;
}

div#padre{
    display: flex;
    flex-flow: column nowrap;
}

    header{ 
        background-color: rgb(98, 131, 221);
        display: flex;
        flex-flow: column nowrap;
    }
        div.menu{
            background-color: rgba(0,0,0,.1);
            height: 100px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
            div#logo{
                /* flex-shrink: 0; */
                width: 200px;
                flex-grow: 1; 
                display: flex;
                align-items: center;
                justify-content: center;
            }
                img#imglogo{
                    width: 50px;
                    height: auto;
                }
            div#nav{
                flex-grow: 5;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            div#fecha{
                width: 200px;
                flex-shrink: 0;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            div#fecha div{
                color: white;
            }

    div#contenido{
        background-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
        justify-items: flex-end;
    }
        div#contenido1{
            background-color: rgb(253, 57, 50);
            width: 300px;
            min-height: 500px;
            display: flex;
            flex-direction: column;
        }
            div.contenidos1{
                background-color: yellowgreen;
                width: 150px;
                height: 150px;
                margin: 5px;
            }
        div#contenido2{
            background-color: rgb(250, 219, 47);
            width: 100%;
        }
            div.producto{
                background-color: blue;
            }
        div#piePagina{
            background-color: tomato;
            display: flex;
            justify-content: center;
        }
            nav#pie{
                display: flex;
                justify-content: center;
                flex-flow: row nowrap;
                background-color: rgba(0,0,0,.1);
                width: 400px;
            }